version: "3.9"

services:
  app:
    build: .
    container_name: temporal-node-server
    network_mode: "host" 
    command: node src/server.js
    ports:
      - "3000:3000"
    environment:
      - ADDRESS=localhost:30087


  worker:
    build: .
    container_name: temporal-node-worker
    network_mode: "host"
    command: node src/worker.js
    environment:
      - ADDRESS=localhost:30087